





<div class="top">


<h1>Welcome</h1>
<h2>Welcome to my personal site</h2>
<p> Hi there! My name is Nivethaa and I'm a Software Engineering Technician student at Centennial College. Feel free to take a look around..</p>
</div>
<div class="middle-container">
<h2>My mission</h2>
<p>My name is Nivethaa and I’m a student at Centennial College. I am passionate about Product Management and Software Engineering. I have work experience as a Product Quality Engineer, Software Developer and Data Analyst. I enjoy learning about personal finance and my hobbies include competitive athletics."</p>

</div>
