<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/master.css">

    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

    <title>About me</title>
  </head>


  <body>
    <%- include partials/header.ejs %>
    <div class="top">
      <div class="left-align">
        <img  class = "myImage left-align" src="images\selfie.PNG" alt="">
      </div>
      <h1>I'm Nivethaa .</h1>
      <h2>A <span>web</span>-developer</h2>

        <p>My name is Nivethaa and I’m a student at Centennial College. I am passionate about Product Management and Software Engineering. I have work experience as a Product Quality Engineer, Software Developer and Data Analyst. I enjoy learning about personal finance and my hobbies include competitive athletics.
          </hgroup>.</p>
    </div>
    <div class="contact-me">
      <h2>More info?</h2>
      <h3>you can find more professionsl information about me here</h3>
      <p> click the link below to download my PDF C.V </p>
      <a class="btn" href="documents/cv.pdf">Download PDF</a>
    </div>
    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">Twitter</a>
      <a class="footer-link" href="https://www.appbrewery.co/">Instagram</a>
      <p class = "last-line">© 2020 Nivethaa. </p>
    </div>


  </body>


</html>
